

<h1>Dashboard</h1> 
<span><%= (current_user.superadmin_role?) ? "Admin" : ((current_user.supervisor_role?) ? "Supervisor" : "User") %> </span>

<% if current_user.superadmin_role? || current_user.supervisor_role? %>
	<p>Visible only for superadmins and supervisors! </p>
<% end %>

<h2>Orders</h2>
<h2>Estimates</h2>
<h2>Keywords</h2>
